.login {
  border: 1px solid;
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
  font-weight: normal;
  line-height: 1.42857143;
  user-select: none;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none !important;
  font-size: 14px;

  &:hover {
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
  }
}